body {
    background-color: bisque;
}

.box {
    text-align: center;
    font-size: 20px;
border: 1px solid black;
 margin: 20px;
}
.bevitel {
    text-align: left;
    margin-left: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-decoration: underline;
   
}

textarea {
    
    width: 80%;
    padding: 10px;
}

#eltunes {
    display: none;
}

table {
    
        margin-left: auto;
        margin-right: auto;
      
}

.tbl {
    
    position: relative;
}

.del {
    position: absolute;
    left: 100%;
    top: 0px;
}

